/*Layout*/

html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    background: white;
    background-attachment: fixed;
    font-family: serif;
}

nav {
    background-color: rgb(240, 195, 202);
}

span {
    margin-top: 20px;
    color: white;    
}

.capa {
    margin-left: 250px;
}

.corIcon {
    color: black;
}

section div span{
    color: pink;
}

.caixa {
    padding-top: 25px;
    padding-bottom: 25px;
}

.produtos {
  padding: 10px 0;  
}

h1 {
    text-align: center;
    color: white;
    margin-top: 20px;
    background: pink;
}  

.personalizar {
   padding-left: 5px;
}

.personalizar2 {
    padding-right: 10px;
}

.personalizar3 {
    padding-top: 20px;
}

footer {
    background-color: rgb(240, 195, 202);
    padding: 40px 0px 20px 0px;
    position: relative;
}

footer, div {
    color: white;
}

footer, div, a {
    color: white;
    font-size: 20px;
}
footer, a:hover {
    text-decoration: none;
    color: rgb(129, 48, 48);
}