/*Layout*/

html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    background: white;
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
}

nav {
    background-color: rgb(240, 195, 202);
}

span {
    margin-top: 20px;
    color: white;    
}

.capa {
    margin-left: 250px;
}

.corIcon {
    color: black;
}

section div span{
    color: pink;
}